html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	font-family: 'Open Sans',sans-serif;
	background: #eee;
	/*font-family: 'Montserrat', sans-serif;*/
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div, img {
	/*border: 1px solid red;*/
}

.animated-box {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	background: yellow;
}

#about-page {
	width: 80%;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	padding: 40px;
}

.lead-header {
	font-size: 30px;
	margin-bottom: 30px;
}

#about-page p.lead {
	font-weight: 400;
	font-size: 22px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#about-page p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	margin-top: 10px;
	margin-bottom: 10px;
}

#about-page p.preview-video {
	margin-top: 20px;
	font-weight: 500;
}
